
p.uppercase{
    text-transform: uppercase;
}
p.lowercase{
    text-transform: lowercase;
}
p.capitalize{
    /* text-transform: capitalize; */
    text-indent: 100px;
}

p#letter_spacing1{
    letter-spacing: 5px;
}
p#letter_spacing2{
    letter-spacing: -3px;
}

p#line_height1{
    line-height: 70%;
}
p#line_height2{
    line-height: 200%;
}
